In [1]:
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sn
import scipy

In [2]:
runstats_df = pd.read_csv("logs/log24.csv")

In [3]:
runstats_df[['WallTime', 'Cond']]

    WallTime                                         Cond
0   550893.0  (Sle 32       (SExt w32 (Read w8 0 arg00)))
1   551883.0  (Sle 32       (SExt w32 (Read w8 1 arg00)))
2   497456.0  (Sle 32       (SExt w32 (Read w8 2 arg00)))
3   569708.0  (Sle 32       (SExt w32 (Read w8 3 arg00)))
4   554339.0  (Sle 32       (SExt w32 (Read w8 4 arg00)))
5   499017.0  (Sle 32       (SExt w32 (Read w8 5 arg00)))
6   555285.0  (Sle 32       (SExt w32 (Read w8 6 arg00)))
7   476171.0  (Sle 32       (SExt w32 (Read w8 7 arg00)))
8   576959.0  (Sle 32       (SExt w32 (Read w8 8 arg00)))
9   575913.0  (Sle 32       (SExt w32 (Read w8 9 arg00)))
10  562490.0                    (Eq 45 (Read w8 0 arg00))
11  544788.0                    (Eq 45 (Read w8 0 arg00))
12  570174.0                    (Eq 45 (Read w8 0 arg00))
13  570905.0                    (Eq 45 (Read w8 0 arg00))
14  557236.0                    (Eq 45 (Read w8 0 arg00))
15  579070.0     (Eq false      (Eq 0 (Read w8 0 arg00)))

In [4]:
runstats_df = pd.read_csv("logs/log25.csv")
runstats_df[['WallTime', 'Cond']]

     WallTime                                         Cond
0   2608924.0  (Sle 32       (SExt w32 (Read w8 0 arg00)))
1   2497825.0  (Sle 32       (SExt w32 (Read w8 1 arg00)))
2   2338008.0  (Sle 32       (SExt w32 (Read w8 2 arg00)))
3   2196638.0  (Sle 32       (SExt w32 (Read w8 3 arg00)))
4   2368855.0  (Sle 32       (SExt w32 (Read w8 4 arg00)))
5   2038312.0  (Sle 32       (SExt w32 (Read w8 5 arg00)))
6   2419592.0  (Sle 32       (SExt w32 (Read w8 6 arg00)))
7   2632218.0  (Sle 32       (SExt w32 (Read w8 7 arg00)))
8   2284753.0  (Sle 32       (SExt w32 (Read w8 8 arg00)))
9   2672153.0  (Sle 32       (SExt w32 (Read w8 9 arg00)))
10  2213011.0    (Eq false      (Eq 45 (Read w8 0 arg00)))
11  2165194.0                    (Eq 47 (Read w8 0 arg00))
12  2711160.0                    (Eq 47 (Read w8 0 arg00))
13  2014809.0                    (Eq 47 (Read w8 0 arg00))
14  2262148.0     (Eq false      (Eq 0 (Read w8 0 arg00)))
15  2300130.0                   (Eq 104 (Read w8 1 arg00))
16  2680183.0                   (Eq 104 (Read w8 1 arg00))
17  2103750.0                     (Eq 0 (Read w8 0 arg00))
18  2236915.0     (Eq false      (Eq 0 (Read w8 1 arg00)))
19  2362412.0     (Eq false      (Eq 0 (Read w8 0 arg00)))
20  2496466.0                    (Eq 47 (Read w8 0 arg00))
21  2144754.0     (Eq false      (Eq 0 (Read w8 1 arg00)))
22  2188989.0                    (Eq 47 (Read w8 1 arg00))
23  2208142.0     (Eq false      (Eq 0 (Read w8 2 arg00)))

In [12]:
runstats_df = pd.read_csv("logs/log26.csv")
runstats_df["Reduction"] = (runstats_df.iloc[0].WallTime - runstats_df["WallTime"]) / runstats_df.iloc[0].WallTime
runstats_df[['Reduction', 'Cond']]

    Reduction                                         Cond
0    0.000000                                     baseline
1    0.147151  (Sle 32       (SExt w32 (Read w8 0 arg00)))
2    0.027347  (Sle 32       (SExt w32 (Read w8 1 arg00)))
3    0.121190  (Sle 32       (SExt w32 (Read w8 2 arg00)))
4   -0.013923  (Sle 32       (SExt w32 (Read w8 3 arg00)))
5    0.148801  (Sle 32       (SExt w32 (Read w8 4 arg00)))
6    0.135725  (Sle 32       (SExt w32 (Read w8 5 arg00)))
7    0.121066  (Sle 32       (SExt w32 (Read w8 6 arg00)))
8   -0.047355  (Sle 32       (SExt w32 (Read w8 7 arg00)))
9   -0.097534  (Sle 32       (SExt w32 (Read w8 8 arg00)))
10  -0.026144  (Sle 32       (SExt w32 (Read w8 9 arg00)))
11  -0.010725    (Eq false      (Eq 45 (Read w8 0 arg00)))
12  -0.018441                    (Eq 47 (Read w8 0 arg00))
13   0.109845                    (Eq 47 (Read w8 0 arg00))
14  -0.067532                     (Eq 0 (Read w8 0 arg00))
15   0.018034     (Eq false      (Eq 0 (Read w8 0 arg00)))