In [2]:
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sn
import scipy
from IPython.display import display

In [3]:
runstats_df = pd.read_csv("logs/log24.csv")

In [4]:
runstats_df[['WallTime', 'Cond']]

    WallTime                                         Cond
0   550893.0  (Sle 32       (SExt w32 (Read w8 0 arg00)))
1   551883.0  (Sle 32       (SExt w32 (Read w8 1 arg00)))
2   497456.0  (Sle 32       (SExt w32 (Read w8 2 arg00)))
3   569708.0  (Sle 32       (SExt w32 (Read w8 3 arg00)))
4   554339.0  (Sle 32       (SExt w32 (Read w8 4 arg00)))
5   499017.0  (Sle 32       (SExt w32 (Read w8 5 arg00)))
6   555285.0  (Sle 32       (SExt w32 (Read w8 6 arg00)))
7   476171.0  (Sle 32       (SExt w32 (Read w8 7 arg00)))
8   576959.0  (Sle 32       (SExt w32 (Read w8 8 arg00)))
9   575913.0  (Sle 32       (SExt w32 (Read w8 9 arg00)))
10  562490.0                    (Eq 45 (Read w8 0 arg00))
11  544788.0                    (Eq 45 (Read w8 0 arg00))
12  570174.0                    (Eq 45 (Read w8 0 arg00))
13  570905.0                    (Eq 45 (Read w8 0 arg00))
14  557236.0                    (Eq 45 (Read w8 0 arg00))
15  579070.0     (Eq false      (Eq 0 (Read w8 0 arg00)))

In [5]:
runstats_df = pd.read_csv("logs/log25.csv")
runstats_df[['WallTime', 'Cond']]

     WallTime                                         Cond
0   2608924.0  (Sle 32       (SExt w32 (Read w8 0 arg00)))
1   2497825.0  (Sle 32       (SExt w32 (Read w8 1 arg00)))
2   2338008.0  (Sle 32       (SExt w32 (Read w8 2 arg00)))
3   2196638.0  (Sle 32       (SExt w32 (Read w8 3 arg00)))
4   2368855.0  (Sle 32       (SExt w32 (Read w8 4 arg00)))
5   2038312.0  (Sle 32       (SExt w32 (Read w8 5 arg00)))
6   2419592.0  (Sle 32       (SExt w32 (Read w8 6 arg00)))
7   2632218.0  (Sle 32       (SExt w32 (Read w8 7 arg00)))
8   2284753.0  (Sle 32       (SExt w32 (Read w8 8 arg00)))
9   2672153.0  (Sle 32       (SExt w32 (Read w8 9 arg00)))
10  2213011.0    (Eq false      (Eq 45 (Read w8 0 arg00)))
11  2165194.0                    (Eq 47 (Read w8 0 arg00))
12  2711160.0                    (Eq 47 (Read w8 0 arg00))
13  2014809.0                    (Eq 47 (Read w8 0 arg00))
14  2262148.0     (Eq false      (Eq 0 (Read w8 0 arg00)))
15  2300130.0                   (Eq 104 (Read w8 1 arg00))
16  2680183.0                   (Eq 104 (Read w8 1 arg00))
17  2103750.0                     (Eq 0 (Read w8 0 arg00))
18  2236915.0     (Eq false      (Eq 0 (Read w8 1 arg00)))
19  2362412.0     (Eq false      (Eq 0 (Read w8 0 arg00)))
20  2496466.0                    (Eq 47 (Read w8 0 arg00))
21  2144754.0     (Eq false      (Eq 0 (Read w8 1 arg00)))
22  2188989.0                    (Eq 47 (Read w8 1 arg00))
23  2208142.0     (Eq false      (Eq 0 (Read w8 2 arg00)))

In [6]:
runstats_df = pd.read_csv("logs/log26.csv")
runstats_df["Reduction"] = (runstats_df.iloc[0].WallTime - runstats_df["WallTime"]) / runstats_df.iloc[0].WallTime
runstats_df[['Reduction', 'Cond', 'SolverTime']]

    Reduction                                         Cond  SolverTime
0    0.000000                                     baseline      214177
1    0.147151  (Sle 32       (SExt w32 (Read w8 0 arg00)))      201629
2    0.027347  (Sle 32       (SExt w32 (Read w8 1 arg00)))      206257
3    0.121190  (Sle 32       (SExt w32 (Read w8 2 arg00)))      212828
4   -0.013923  (Sle 32       (SExt w32 (Read w8 3 arg00)))      225244
5    0.148801  (Sle 32       (SExt w32 (Read w8 4 arg00)))      216127
6    0.135725  (Sle 32       (SExt w32 (Read w8 5 arg00)))      195307
7    0.121066  (Sle 32       (SExt w32 (Read w8 6 arg00)))      201411
8   -0.047355  (Sle 32       (SExt w32 (Read w8 7 arg00)))      210006
9   -0.097534  (Sle 32       (SExt w32 (Read w8 8 arg00)))      224010
10  -0.026144  (Sle 32       (SExt w32 (Read w8 9 arg00)))      248364
11  -0.010725    (Eq false      (Eq 45 (Read w8 0 arg00)))      239793
12  -0.018441                    (Eq 47 (Read w8 0 arg00))      224131
13   0.109845                    (Eq 47 (Read w8 0 arg00))      213864
14  -0.067532                     (Eq 0 (Read w8 0 arg00))      240073
15   0.018034     (Eq false      (Eq 0 (Read w8 0 arg00)))      224437

In [8]:
for i in range(27, 32):
    file = "logs/log" + str(i) + ".csv"
    runstats_df = pd.read_csv(file, comment="#")
    with open(file) as f:
        print("Log : " + f.readline())
    runstats_df["Reduction"] = (runstats_df.iloc[0].WallTime - runstats_df["WallTime"]) / runstats_df.iloc[0].WallTime
    display(runstats_df[['Reduction', 'Cond', 'SolverTime']].sort_values('Reduction', ascending=False))

Log : #ls.bc

    Reduction                                         Cond  SolverTime
11   0.062452    (Eq false      (Eq 45 (Read w8 0 arg00)))      270007
16   0.061793     (Eq false      (Eq 0 (Read w8 1 arg00)))      270691
9    0.060788  (Sle 32       (SExt w32 (Read w8 8 arg00)))      255361
4    0.046210  (Sle 32       (SExt w32 (Read w8 3 arg00)))      240061
1    0.031247  (Sle 32       (SExt w32 (Read w8 0 arg00)))      219532
15   0.020114                    (Eq 45 (Read w8 1 arg00))      237107
13   0.019491                    (Eq 45 (Read w8 0 arg00))      233755
7    0.003763  (Sle 32       (SExt w32 (Read w8 6 arg00)))      255475
19   0.001575     (Eq false      (Eq 0 (Read w8 2 arg00)))      273420
0    0.000000                                     baseline      232073
14  -0.021001     (Eq false      (Eq 0 (Read w8 0 arg00)))      280177
8   -0.033628  (Sle 32       (SExt w32 (Read w8 7 arg00)))      253488
17  -0.036046                     (Eq 0 (Read w8 2 arg00))      276663
18  -0.049759     (Eq false      (Eq 0 (Read w8 2 arg00)))      236868
12  -0.070435                     (Eq 0 (Read w8 1 arg00))      247502
2   -0.085706  (Sle 32       (SExt w32 (Read w8 1 arg00)))      251298
3   -0.087142  (Sle 32       (SExt w32 (Read w8 2 arg00)))      251140
10  -0.089133  (Sle 32       (SExt w32 (Read w8 9 arg00)))      248834
5   -0.092749  (Sle 32       (SExt w32 (Read w8 4 arg00)))      264728
6   -0.104770  (Sle 32       (SExt w32 (Read w8 5 arg00)))      255322

Log : #cat.bc

    Reduction                                         Cond  SolverTime
1    0.122940  (Sle 32       (SExt w32 (Read w8 0 arg00)))      198816
3    0.111967  (Sle 32       (SExt w32 (Read w8 2 arg00)))      213082
6    0.039089  (Sle 32       (SExt w32 (Read w8 5 arg00)))      196610
5    0.027642  (Sle 32       (SExt w32 (Read w8 4 arg00)))      212094
13   0.003606                    (Eq 45 (Read w8 0 arg00))      211922
0    0.000000                                     baseline      205712
2   -0.004113  (Sle 32       (SExt w32 (Read w8 1 arg00)))      190154
4   -0.009603  (Sle 32       (SExt w32 (Read w8 3 arg00)))      206936
7   -0.014936  (Sle 32       (SExt w32 (Read w8 6 arg00)))      207815
9   -0.020676  (Sle 32       (SExt w32 (Read w8 8 arg00)))      208716
10  -0.027838  (Sle 32       (SExt w32 (Read w8 9 arg00)))      213826
16  -0.047167     (Eq false      (Eq 0 (Read w8 0 arg00)))      219858
14  -0.051222                    (Eq 47 (Read w8 0 arg00))      224212
15  -0.052332                     (Eq 0 (Read w8 0 arg00))      222155
11  -0.056074    (Eq false      (Eq 45 (Read w8 0 arg00)))      228541
12  -0.065086                    (Eq 45 (Read w8 0 arg00))      216580
8   -0.111292  (Sle 32       (SExt w32 (Read w8 7 arg00)))      211910

Log : #env.bc

    Reduction                                         Cond  SolverTime
19   0.194166                    (Eq 45 (Read w8 0 arg00))      235602
83   0.155995    (Eq false      (Eq 77 (Read w8 0 arg00)))      258175
3    0.150006  (Sle 32       (SExt w32 (Read w8 2 arg00)))      252316
52   0.125648                    (Eq 84 (Read w8 0 arg00))      271391
51   0.122078    (Eq false      (Eq 95 (Read w8 0 arg00)))      261246
..        ...                                          ...         ...
36  -0.134032    (Eq false      (Eq 83 (Read w8 0 arg00)))      335858
62  -0.160284                    (Eq 76 (Read w8 0 arg00))      345834
46  -0.190776                    (Eq 76 (Read w8 0 arg00))      334623
65  -0.292525    (Eq false      (Eq 88 (Read w8 0 arg00)))      340357
6   -4.082235  (Sle 32       (SExt w32 (Read w8 5 arg00)))      298397

[88 rows x 3 columns]

Log : #split.bc

    Reduction                                               Cond  SolverTime
18   0.887717                           (Eq 0 (Read w8 1 arg00))           0
46   0.025492  (Eq 108      (Extract w8 0 (SExt w32 (Read w8 ...      376383
5    0.019335        (Sle 32       (SExt w32 (Read w8 4 arg00)))      378186
0    0.000000                                           baseline      383135
19  -0.008258                          (Eq 45 (Read w8 1 arg00))      353996
8   -0.015208        (Sle 32       (SExt w32 (Read w8 7 arg00)))      345533
10  -0.017887        (Sle 32       (SExt w32 (Read w8 9 arg00)))      378506
28  -0.021268                          (Eq 45 (Read w8 1 arg00))      414632
50  -0.023700  (Eq 117      (Extract w8 0 (SExt w32 (Read w8 ...      379873
48  -0.036575  (Eq 110      (Extract w8 0 (SExt w32 (Read w8 ...      346649
22  -0.049246  (Eq 50      (Extract w8 0 (SExt w32 (Read w8 (...      373615
23  -0.050670  (Eq 0      (Read w8 (Extract w32 0 (Add w64 2 ...      383929
51  -0.057803  (Eq 0      (Extract w8 0 (SExt w32 (Read w8 (E...      378512
1   -0.063615        (Sle 32       (SExt w32 (Read w8 0 arg00)))      398908
40  -0.065274  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...      387119
44  -0.078302  (Eq 100      (Extract w8 0 (SExt w32 (Read w8 ...      383442
32  -0.078977  (Eq 51      (Extract w8 0 (SExt w32 (Read w8 (...      410252
14  -0.078997           (Eq false      (Eq 0 (Read w8 0 arg00)))      407449
37  -0.082020  (Eq 56      (Extract w8 0 (SExt w32 (Read w8 (...      355554
47  -0.084178  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...      437338
34  -0.087445  (Eq 53      (Extract w8 0 (SExt w32 (Read w8 (...      420831
31  -0.090530  (Eq 50      (Extract w8 0 (SExt w32 (Read w8 (...      445134
43  -0.094951  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...      388072
33  -0.095318  (Eq 52      (Extract w8 0 (SExt w32 (Read w8 (...      411684
36  -0.102679  (Eq 55      (Extract w8 0 (SExt w32 (Read w8 (...      407019
38  -0.104388  (Eq 57      (Extract w8 0 (SExt w32 (Read w8 (...      379960
30  -0.109616  (Eq 49      (Extract w8 0 (SExt w32 (Read w8 (...      450707
49  -0.110709  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...      415823
27  -0.112951  (Eq 0      (Read w8 (Extract w32 0 (Add w64 2 ...      428966
13  -0.119296                          (Eq 45 (Read w8 0 arg00))      389595
20  -0.121760  (Eq 48      (Extract w8 0 (SExt w32 (Read w8 (...      390940
41  -0.124944  (Eq 97      (Extract w8 0 (SExt w32 (Read w8 (...      359954
6   -0.127353        (Sle 32       (SExt w32 (Read w8 5 arg00)))      389578
39  -0.136885  (Eq 67      (Extract w8 0 (SExt w32 (Read w8 (...      431068
11  -0.137236          (Eq false      (Eq 45 (Read w8 0 arg00)))      424648
35  -0.147843  (Eq 54      (Extract w8 0 (SExt w32 (Read w8 (...      421943
21  -0.152643  (Eq 49      (Extract w8 0 (SExt w32 (Read w8 (...      424794
16  -0.153724          (Eq false      (Eq 45 (Read w8 1 arg00)))      406624
24  -0.160247  (Eq 58      (Read w8 (Extract w32 0 (Add w64 1...      413308
26  -0.168791  (Ult (SExt w64 (Add w32 4294967248            ...      414219
9   -0.170311        (Sle 32       (SExt w32 (Read w8 8 arg00)))      427387
4   -0.177687        (Sle 32       (SExt w32 (Read w8 3 arg00)))      424021
12  -0.178146                           (Eq 0 (Read w8 1 arg00))      425316
17  -0.178159          (Eq false      (Eq 45 (Read w8 0 arg00)))      419996
25  -0.180975  (Eq 255      (Read w8 (Extract w32 0 (Add w64 ...      449504
42  -0.182810  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...      463392
15  -0.188746                          (Eq 45 (Read w8 1 arg00))      439019
52  -0.199658  (Eq 0      (Read w8 (Extract w32 0 (Add w64 3 ...      435806
7   -0.202378        (Sle 32       (SExt w32 (Read w8 6 arg00)))      414533
3   -0.208488        (Sle 32       (SExt w32 (Read w8 2 arg00)))      371624
2   -0.214152        (Sle 32       (SExt w32 (Read w8 1 arg00)))      415285
45  -0.221524  (Eq 101      (Extract w8 0 (SExt w32 (Read w8 ...      474529
29  -4.702198  (Eq 48      (Extract w8 0 (SExt w32 (Read w8 (...      411350

Log : #tee.bc

    Reduction                                               Cond  SolverTime
6    0.192330        (Sle 32       (SExt w32 (Read w8 5 arg00)))      251038
22   0.181466  (Eq 58      (Read w8 (Extract w32 0 (Add w64 1...      253592
24   0.137876  (Eq 0      (Read w8 (Extract w32 0 (Add w64 2 ...      294326
15   0.135037                          (Eq 45 (Read w8 1 arg00))      259579
1    0.134222        (Sle 32       (SExt w32 (Read w8 0 arg00)))      232365
27   0.130032  (Eq 0      (Read w8 (Extract w32 0 (Add w64 3 ...      266973
5    0.117564        (Sle 32       (SExt w32 (Read w8 4 arg00)))      260904
4    0.111127        (Sle 32       (SExt w32 (Read w8 3 arg00)))      248759
16   0.107001          (Eq false      (Eq 45 (Read w8 1 arg00)))      272301
17   0.078330          (Eq false      (Eq 45 (Read w8 0 arg00)))      265162
13   0.072576                          (Eq 45 (Read w8 0 arg00))      268936
14   0.072063           (Eq false      (Eq 0 (Read w8 0 arg00)))      261234
21   0.065415  (Eq 0      (Read w8 (Extract w32 0 (Add w64 2 ...      261477
25   0.064001                          (Eq 45 (Read w8 1 arg00))      270393
7    0.063013        (Sle 32       (SExt w32 (Read w8 6 arg00)))      253104
9    0.058792        (Sle 32       (SExt w32 (Read w8 8 arg00)))      272947
2    0.058373        (Sle 32       (SExt w32 (Read w8 1 arg00)))      240974
20   0.057486  (Eq 97      (Extract w8 0 (SExt w32 (Read w8 (...      278258
3    0.052750        (Sle 32       (SExt w32 (Read w8 2 arg00)))      259920
12   0.050190                           (Eq 0 (Read w8 1 arg00))      274247
10   0.046867        (Sle 32       (SExt w32 (Read w8 9 arg00)))      289963
8    0.037666        (Sle 32       (SExt w32 (Read w8 7 arg00)))      273732
11   0.027442          (Eq false      (Eq 45 (Read w8 0 arg00)))      285626
28   0.019801  (Eq 58      (Read w8 (Extract w32 0 (Add w64 2...      255116
19   0.019562                          (Eq 45 (Read w8 1 arg00))      263965
0    0.000000                                           baseline      294648
18  -0.000429                           (Eq 0 (Read w8 1 arg00))      285107
29  -0.015336  (Eq false      (Eq 255          (Read w8 (Extr...      296338
26  -0.033975  (Eq 97      (Extract w8 0 (SExt w32 (Read w8 (...      277078
23  -0.050211  (Eq false      (Eq 255          (Read w8 (Extr...      283012