In [6]:
import pandas as pd
import  matplotlib.pyplot as plt
import seaborn as sn
import scipy
from IPython.display import display

In [2]:
runstats_df = pd.read_csv("logs/log24.csv")

In [3]:
runstats_df[['WallTime', 'Cond']]

    WallTime                                         Cond
0   550893.0  (Sle 32       (SExt w32 (Read w8 0 arg00)))
1   551883.0  (Sle 32       (SExt w32 (Read w8 1 arg00)))
2   497456.0  (Sle 32       (SExt w32 (Read w8 2 arg00)))
3   569708.0  (Sle 32       (SExt w32 (Read w8 3 arg00)))
4   554339.0  (Sle 32       (SExt w32 (Read w8 4 arg00)))
5   499017.0  (Sle 32       (SExt w32 (Read w8 5 arg00)))
6   555285.0  (Sle 32       (SExt w32 (Read w8 6 arg00)))
7   476171.0  (Sle 32       (SExt w32 (Read w8 7 arg00)))
8   576959.0  (Sle 32       (SExt w32 (Read w8 8 arg00)))
9   575913.0  (Sle 32       (SExt w32 (Read w8 9 arg00)))
10  562490.0                    (Eq 45 (Read w8 0 arg00))
11  544788.0                    (Eq 45 (Read w8 0 arg00))
12  570174.0                    (Eq 45 (Read w8 0 arg00))
13  570905.0                    (Eq 45 (Read w8 0 arg00))
14  557236.0                    (Eq 45 (Read w8 0 arg00))
15  579070.0     (Eq false      (Eq 0 (Read w8 0 arg00)))

In [4]:
runstats_df = pd.read_csv("logs/log25.csv")
runstats_df[['WallTime', 'Cond']]

     WallTime                                         Cond
0   2608924.0  (Sle 32       (SExt w32 (Read w8 0 arg00)))
1   2497825.0  (Sle 32       (SExt w32 (Read w8 1 arg00)))
2   2338008.0  (Sle 32       (SExt w32 (Read w8 2 arg00)))
3   2196638.0  (Sle 32       (SExt w32 (Read w8 3 arg00)))
4   2368855.0  (Sle 32       (SExt w32 (Read w8 4 arg00)))
5   2038312.0  (Sle 32       (SExt w32 (Read w8 5 arg00)))
6   2419592.0  (Sle 32       (SExt w32 (Read w8 6 arg00)))
7   2632218.0  (Sle 32       (SExt w32 (Read w8 7 arg00)))
8   2284753.0  (Sle 32       (SExt w32 (Read w8 8 arg00)))
9   2672153.0  (Sle 32       (SExt w32 (Read w8 9 arg00)))
10  2213011.0    (Eq false      (Eq 45 (Read w8 0 arg00)))
11  2165194.0                    (Eq 47 (Read w8 0 arg00))
12  2711160.0                    (Eq 47 (Read w8 0 arg00))
13  2014809.0                    (Eq 47 (Read w8 0 arg00))
14  2262148.0     (Eq false      (Eq 0 (Read w8 0 arg00)))
15  2300130.0                   (Eq 104 (Read w8 1 arg00))
16  2680183.0                   (Eq 104 (Read w8 1 arg00))
17  2103750.0                     (Eq 0 (Read w8 0 arg00))
18  2236915.0     (Eq false      (Eq 0 (Read w8 1 arg00)))
19  2362412.0     (Eq false      (Eq 0 (Read w8 0 arg00)))
20  2496466.0                    (Eq 47 (Read w8 0 arg00))
21  2144754.0     (Eq false      (Eq 0 (Read w8 1 arg00)))
22  2188989.0                    (Eq 47 (Read w8 1 arg00))
23  2208142.0     (Eq false      (Eq 0 (Read w8 2 arg00)))

In [12]:
runstats_df = pd.read_csv("logs/log26.csv")
runstats_df["Reduction"] = (runstats_df.iloc[0].WallTime - runstats_df["WallTime"]) / runstats_df.iloc[0].WallTime
runstats_df[['Reduction', 'Cond']]

    Reduction                                         Cond
0    0.000000                                     baseline
1    0.147151  (Sle 32       (SExt w32 (Read w8 0 arg00)))
2    0.027347  (Sle 32       (SExt w32 (Read w8 1 arg00)))
3    0.121190  (Sle 32       (SExt w32 (Read w8 2 arg00)))
4   -0.013923  (Sle 32       (SExt w32 (Read w8 3 arg00)))
5    0.148801  (Sle 32       (SExt w32 (Read w8 4 arg00)))
6    0.135725  (Sle 32       (SExt w32 (Read w8 5 arg00)))
7    0.121066  (Sle 32       (SExt w32 (Read w8 6 arg00)))
8   -0.047355  (Sle 32       (SExt w32 (Read w8 7 arg00)))
9   -0.097534  (Sle 32       (SExt w32 (Read w8 8 arg00)))
10  -0.026144  (Sle 32       (SExt w32 (Read w8 9 arg00)))
11  -0.010725    (Eq false      (Eq 45 (Read w8 0 arg00)))
12  -0.018441                    (Eq 47 (Read w8 0 arg00))
13   0.109845                    (Eq 47 (Read w8 0 arg00))
14  -0.067532                     (Eq 0 (Read w8 0 arg00))
15   0.018034     (Eq false      (Eq 0 (Read w8 0 arg00)))

In [13]:
for i in range(27, 32):
    file = "logs/log" + str(i) + ".csv"
    runstats_df = pd.read_csv(file, comment="#")
    with open(file) as f:
        print("Log : " + f.readline())
    runstats_df["Reduction"] = (runstats_df.iloc[0].WallTime - runstats_df["WallTime"]) / runstats_df.iloc[0].WallTime
    display(runstats_df[['Reduction', 'Cond']].sort_values('Reduction', ascending=False))

Log : #ls.bc

    Reduction                                         Cond
11   0.062452    (Eq false      (Eq 45 (Read w8 0 arg00)))
16   0.061793     (Eq false      (Eq 0 (Read w8 1 arg00)))
9    0.060788  (Sle 32       (SExt w32 (Read w8 8 arg00)))
4    0.046210  (Sle 32       (SExt w32 (Read w8 3 arg00)))
1    0.031247  (Sle 32       (SExt w32 (Read w8 0 arg00)))
15   0.020114                    (Eq 45 (Read w8 1 arg00))
13   0.019491                    (Eq 45 (Read w8 0 arg00))
7    0.003763  (Sle 32       (SExt w32 (Read w8 6 arg00)))
19   0.001575     (Eq false      (Eq 0 (Read w8 2 arg00)))
0    0.000000                                     baseline
14  -0.021001     (Eq false      (Eq 0 (Read w8 0 arg00)))
8   -0.033628  (Sle 32       (SExt w32 (Read w8 7 arg00)))
17  -0.036046                     (Eq 0 (Read w8 2 arg00))
18  -0.049759     (Eq false      (Eq 0 (Read w8 2 arg00)))
12  -0.070435                     (Eq 0 (Read w8 1 arg00))
2   -0.085706  (Sle 32       (SExt w32 (Read w8 1 arg00)))
3   -0.087142  (Sle 32       (SExt w32 (Read w8 2 arg00)))
10  -0.089133  (Sle 32       (SExt w32 (Read w8 9 arg00)))
5   -0.092749  (Sle 32       (SExt w32 (Read w8 4 arg00)))
6   -0.104770  (Sle 32       (SExt w32 (Read w8 5 arg00)))

Log : #cat.bc

    Reduction                                         Cond
1    0.122940  (Sle 32       (SExt w32 (Read w8 0 arg00)))
3    0.111967  (Sle 32       (SExt w32 (Read w8 2 arg00)))
6    0.039089  (Sle 32       (SExt w32 (Read w8 5 arg00)))
5    0.027642  (Sle 32       (SExt w32 (Read w8 4 arg00)))
13   0.003606                    (Eq 45 (Read w8 0 arg00))
0    0.000000                                     baseline
2   -0.004113  (Sle 32       (SExt w32 (Read w8 1 arg00)))
4   -0.009603  (Sle 32       (SExt w32 (Read w8 3 arg00)))
7   -0.014936  (Sle 32       (SExt w32 (Read w8 6 arg00)))
9   -0.020676  (Sle 32       (SExt w32 (Read w8 8 arg00)))
10  -0.027838  (Sle 32       (SExt w32 (Read w8 9 arg00)))
16  -0.047167     (Eq false      (Eq 0 (Read w8 0 arg00)))
14  -0.051222                    (Eq 47 (Read w8 0 arg00))
15  -0.052332                     (Eq 0 (Read w8 0 arg00))
11  -0.056074    (Eq false      (Eq 45 (Read w8 0 arg00)))
12  -0.065086                    (Eq 45 (Read w8 0 arg00))
8   -0.111292  (Sle 32       (SExt w32 (Read w8 7 arg00)))

Log : #env.bc

    Reduction                                         Cond
19   0.194166                    (Eq 45 (Read w8 0 arg00))
83   0.155995    (Eq false      (Eq 77 (Read w8 0 arg00)))
3    0.150006  (Sle 32       (SExt w32 (Read w8 2 arg00)))
52   0.125648                    (Eq 84 (Read w8 0 arg00))
51   0.122078    (Eq false      (Eq 95 (Read w8 0 arg00)))
..        ...                                          ...
36  -0.134032    (Eq false      (Eq 83 (Read w8 0 arg00)))
62  -0.160284                    (Eq 76 (Read w8 0 arg00))
46  -0.190776                    (Eq 76 (Read w8 0 arg00))
65  -0.292525    (Eq false      (Eq 88 (Read w8 0 arg00)))
6   -4.082235  (Sle 32       (SExt w32 (Read w8 5 arg00)))

[88 rows x 2 columns]

Log : #split.bc

    Reduction                                               Cond
18   0.887717                           (Eq 0 (Read w8 1 arg00))
46   0.025492  (Eq 108      (Extract w8 0 (SExt w32 (Read w8 ...
5    0.019335        (Sle 32       (SExt w32 (Read w8 4 arg00)))
0    0.000000                                           baseline
19  -0.008258                          (Eq 45 (Read w8 1 arg00))
8   -0.015208        (Sle 32       (SExt w32 (Read w8 7 arg00)))
10  -0.017887        (Sle 32       (SExt w32 (Read w8 9 arg00)))
28  -0.021268                          (Eq 45 (Read w8 1 arg00))
50  -0.023700  (Eq 117      (Extract w8 0 (SExt w32 (Read w8 ...
48  -0.036575  (Eq 110      (Extract w8 0 (SExt w32 (Read w8 ...
22  -0.049246  (Eq 50      (Extract w8 0 (SExt w32 (Read w8 (...
23  -0.050670  (Eq 0      (Read w8 (Extract w32 0 (Add w64 2 ...
51  -0.057803  (Eq 0      (Extract w8 0 (SExt w32 (Read w8 (E...
1   -0.063615        (Sle 32       (SExt w32 (Read w8 0 arg00)))
40  -0.065274  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...
44  -0.078302  (Eq 100      (Extract w8 0 (SExt w32 (Read w8 ...
32  -0.078977  (Eq 51      (Extract w8 0 (SExt w32 (Read w8 (...
14  -0.078997           (Eq false      (Eq 0 (Read w8 0 arg00)))
37  -0.082020  (Eq 56      (Extract w8 0 (SExt w32 (Read w8 (...
47  -0.084178  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...
34  -0.087445  (Eq 53      (Extract w8 0 (SExt w32 (Read w8 (...
31  -0.090530  (Eq 50      (Extract w8 0 (SExt w32 (Read w8 (...
43  -0.094951  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...
33  -0.095318  (Eq 52      (Extract w8 0 (SExt w32 (Read w8 (...
36  -0.102679  (Eq 55      (Extract w8 0 (SExt w32 (Read w8 (...
38  -0.104388  (Eq 57      (Extract w8 0 (SExt w32 (Read w8 (...
30  -0.109616  (Eq 49      (Extract w8 0 (SExt w32 (Read w8 (...
49  -0.110709  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...
27  -0.112951  (Eq 0      (Read w8 (Extract w32 0 (Add w64 2 ...
13  -0.119296                          (Eq 45 (Read w8 0 arg00))
20  -0.121760  (Eq 48      (Extract w8 0 (SExt w32 (Read w8 (...
41  -0.124944  (Eq 97      (Extract w8 0 (SExt w32 (Read w8 (...
6   -0.127353        (Sle 32       (SExt w32 (Read w8 5 arg00)))
39  -0.136885  (Eq 67      (Extract w8 0 (SExt w32 (Read w8 (...
11  -0.137236          (Eq false      (Eq 45 (Read w8 0 arg00)))
35  -0.147843  (Eq 54      (Extract w8 0 (SExt w32 (Read w8 (...
21  -0.152643  (Eq 49      (Extract w8 0 (SExt w32 (Read w8 (...
16  -0.153724          (Eq false      (Eq 45 (Read w8 1 arg00)))
24  -0.160247  (Eq 58      (Read w8 (Extract w32 0 (Add w64 1...
26  -0.168791  (Ult (SExt w64 (Add w32 4294967248            ...
9   -0.170311        (Sle 32       (SExt w32 (Read w8 8 arg00)))
4   -0.177687        (Sle 32       (SExt w32 (Read w8 3 arg00)))
12  -0.178146                           (Eq 0 (Read w8 1 arg00))
17  -0.178159          (Eq false      (Eq 45 (Read w8 0 arg00)))
25  -0.180975  (Eq 255      (Read w8 (Extract w32 0 (Add w64 ...
42  -0.182810  (Eq 58      (Extract w8 0 (SExt w32 (Read w8 (...
15  -0.188746                          (Eq 45 (Read w8 1 arg00))
52  -0.199658  (Eq 0      (Read w8 (Extract w32 0 (Add w64 3 ...
7   -0.202378        (Sle 32       (SExt w32 (Read w8 6 arg00)))
3   -0.208488        (Sle 32       (SExt w32 (Read w8 2 arg00)))
2   -0.214152        (Sle 32       (SExt w32 (Read w8 1 arg00)))
45  -0.221524  (Eq 101      (Extract w8 0 (SExt w32 (Read w8 ...
29  -4.702198  (Eq 48      (Extract w8 0 (SExt w32 (Read w8 (...

Log : #tee.bc

    Reduction                                               Cond
6    0.192330        (Sle 32       (SExt w32 (Read w8 5 arg00)))
22   0.181466  (Eq 58      (Read w8 (Extract w32 0 (Add w64 1...
24   0.137876  (Eq 0      (Read w8 (Extract w32 0 (Add w64 2 ...
15   0.135037                          (Eq 45 (Read w8 1 arg00))
1    0.134222        (Sle 32       (SExt w32 (Read w8 0 arg00)))
27   0.130032  (Eq 0      (Read w8 (Extract w32 0 (Add w64 3 ...
5    0.117564        (Sle 32       (SExt w32 (Read w8 4 arg00)))
4    0.111127        (Sle 32       (SExt w32 (Read w8 3 arg00)))
16   0.107001          (Eq false      (Eq 45 (Read w8 1 arg00)))
17   0.078330          (Eq false      (Eq 45 (Read w8 0 arg00)))
13   0.072576                          (Eq 45 (Read w8 0 arg00))
14   0.072063           (Eq false      (Eq 0 (Read w8 0 arg00)))
21   0.065415  (Eq 0      (Read w8 (Extract w32 0 (Add w64 2 ...
25   0.064001                          (Eq 45 (Read w8 1 arg00))
7    0.063013        (Sle 32       (SExt w32 (Read w8 6 arg00)))
9    0.058792        (Sle 32       (SExt w32 (Read w8 8 arg00)))
2    0.058373        (Sle 32       (SExt w32 (Read w8 1 arg00)))
20   0.057486  (Eq 97      (Extract w8 0 (SExt w32 (Read w8 (...
3    0.052750        (Sle 32       (SExt w32 (Read w8 2 arg00)))
12   0.050190                           (Eq 0 (Read w8 1 arg00))
10   0.046867        (Sle 32       (SExt w32 (Read w8 9 arg00)))
8    0.037666        (Sle 32       (SExt w32 (Read w8 7 arg00)))
11   0.027442          (Eq false      (Eq 45 (Read w8 0 arg00)))
28   0.019801  (Eq 58      (Read w8 (Extract w32 0 (Add w64 2...
19   0.019562                          (Eq 45 (Read w8 1 arg00))
0    0.000000                                           baseline
18  -0.000429                           (Eq 0 (Read w8 1 arg00))
29  -0.015336  (Eq false      (Eq 255          (Read w8 (Extr...
26  -0.033975  (Eq 97      (Extract w8 0 (SExt w32 (Read w8 (...
23  -0.050211  (Eq false      (Eq 255          (Read w8 (Extr...